<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>2016年最能代表你的一个字？</title>
    <link href="~/Content/common_mobile.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <style type="text/css">
    </style>
</head>

<body app-name="test" app-mod="3">
    <div class="wnl-test-name">
        @RenderBody()

        <div class="i-morelist clearfix">
            <h4><span>有更多人在玩</span></h4>
            @Html.Action("HotGames", "Game")
            @*<ul>
                <li>
                    <a stat="NameTestRelatedClick" href="start.php?type=pengyou">
                        <img src="~/Images/ny_top.jpg" />
                        <span>你在朋友眼中是什么人？</span>
                    </a>
                </li>

                <li>
                    <a stat="NameTestRelatedClick" href="start.php?type=shenjia">
                        <img src="~/Images/ny_top.jpg" />
                        <span>测测你未来的身价</span>
                    </a>
                </li>
            </ul>*@
        </div>
    </div>
    <div id="imgcode">
        <img src="~/Images/qrcode.png" class="code2" />
    </div>
</body>
</html>
