@using Kendo.Mvc.UI.Fluent
@using Web.Areas.Admin.Models.Home
@model Web.Areas.Admin.Models.PageModel<Web.Areas.Admin.Models.Home.SubjectInfoModel>

@{
    ViewBag.Title = "Index";
}

<style>
    .customer-photo {
        display: inline-block;
        /*width: 32px;*/
        height: 50px;
        /*border-radius: 50%;
        background-size: 32px 35px;*/
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        -webkit-box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        -ms-box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>

<div>
    <a href="@Url.Action("NewGame", "Home")" class="k-button" style="margin: 10px;">新增题目</a>
</div>

@(Html.Kendo().Grid(Model.Data).Name("grid")
      .Columns(columns =>
      {
          columns.Bound(o => o.Id);
          columns.Bound(o => o.Title);
          columns.Bound(o => o.Order);
          columns.Bound(o => o.PictureUrl).Template(o => "<img src='" + o.PictureUrl + "' class='customer-photo'/>")
              .ClientTemplate("<img src='#:PictureUrl#' class='customer-photo'/>");
          columns.Bound(o => o.ResultPictureUrl).Template(o => "<img src='" + o.ResultPictureUrl + "' class='customer-photo'/>")
              .ClientTemplate("<img src='#:ResultPictureUrl#' class='customer-photo'/>");
          columns.Command(command =>
          {
              command.Custom("editGame").Click("editGame").Text("编辑");
              command.Destroy();
          }).Title("Command").Width(170);
          columns.Bound(o => o).Template(o => "<a href='" + Url.Action("Results", "Home", new { subjectId = o.Id }) + "' class='k-button'>参与人员</a>")
              .ClientTemplate("<a href='" + Url.Action("Results", "Home", new { subjectId = "#=Id#" }) + "' class='k-button'>参与人员</a>")
              .Title("").Width(110);
      })
      .ClientDetailTemplateId("template")
      .Pageable(pageable => pageable.Refresh(true).PageSizes(new[] { Model.PageSize }).ButtonCount(10))
      .DataSource(dataSource => dataSource.Ajax().Model(desc => desc.Id(o => o.Id)).PageSize(Model.PageSize).Total(Model.Total)
          .Read(read => read.Action("GridGet", "Home"))
          .Destroy(delete => delete.Action("Hide", "Home", new { PageSize = Model.PageSize })))
      .Events(events => events.DataBound("dataBound")))

<script type="text/javascript">
    function editGame(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var url = decodeURIComponent("@Url.Action("EditGame", "Home", new {subjectId = "{subjectId}"})");
        window.location.href = url.replace("{subjectId}", dataItem.Id);
    }

    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<SubjectOptionModel>()
        .Name("grid_#=Id#") // template expression, to be evaluated in the master context
        .Columns(columns =>
        {
            columns.Bound(o => o.ResultType);
            columns.Bound(o => o.Content);
            columns.Bound(o => o.ContentExt);
            columns.Bound(o => o.Order);
        })
        .Pageable(pageable => pageable.Refresh(true).ButtonCount(10))
        .DataSource(datasource => datasource.Ajax().PageSize(5)
            .Group(group => group.Add(o => o.ResultType))
            .Read(read => read.Action("GetOptions", "Home", new { subjectId = "#=Id#" })))
        //.Groupable(group => group.Enabled(true))
        .ToClientTemplate())
</script>


