
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_GameResultLayout.cshtml";
}

<p class="i-result-desc">
    <span>啊的2016关键字是</span>
    <span>『猛』</span>
    <span>你就像一个猛将、为了将来更好而累计努力的一年。</span>
</p>

