@model Web.Models.Game.SubjectResultModel

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_GameResultLayout.cshtml";
}

<p class="i-result-desc">
    <span>@Model.ResultTitle</span>
    @if (Model.Options.Count == 1)
    {
        <span>@Model.Options[0].Content</span>
        <span>@Model.Options[0].ContentExt</span>
    }
    else
    {
        <span></span>
        <span>
            @foreach (var item in Model.Options)
            {
                @Html.Raw(item.Content)<br/>
            }
        </span>
    }
</p>

